<main>
  <button onclick="window.location.href='/realtimeproducts'" class="form-toggle-btn" style="margin-bottom:24px;">Ir a productos en tiempo real</button>
  <h2>Lista de productos</h2>
  <ul id="products-list">
    {{#each products}}
    <li data-id="{{id}}" class="product-item">
      <div class="product-img-wrapper">
        {{#if thumbnails}}
          <img src="{{thumbnails.[0]}}" alt="Imagen" class="product-img">
        {{else}}
          <div class="product-img no-img" aria-label="Sin Imagen" title="Sin Imagen"></div>
        {{/if}}
      </div>
      <div class="product-info">
        <strong class="product-title">{{title}}</strong>
        <span class="product-desc"><b>Descripción:</b> {{description}}</span>
        <span class="product-code"><b>Código:</b> {{code}}</span>
        <span class="product-price"><b>Precio:</b> ${{price}}</span>
        <span class="product-stock"><b>Stock:</b> {{stock}}</span>
        <span class="product-category"><b>Categoría:</b> {{category}}</span>
        <span class="product-status"><b>Status:</b> {{#if status}}Activo{{else}}Inactivo{{/if}}</span>
      </div>
    </li>
    {{/each}}
  </ul>
</main>